body {
    font-family: 'Swis721 Cn BT';
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.8s;
    padding-top: 60px;
    border: 3px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #808080;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: tomato;
        }

        .sidenav a:active{
            color: #cfcfcf;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 40px;
        right: 5px;
        font-size: 28px;
        margin-left: 50px;
    }
