/*body {
    font-family: 'Swis721 Cn BT';
}*/

.sidenav {
    height: 100%;
    width: 180px;
    /*position: fixed;*/
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    transition: 0.8s;
    /*padding-top: 50px;*/
    border: 3px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 16px;
        color: #3e3e3e;
        display: block;
        transition: 0.3s;
        overflow-x: hidden;
    }

        .sidenav a:hover {
            color: #007bff;
        }

        .sidenav a:active {
            color: #ffffff;
        }

        .sidenav a.active {
            color: #007bff;
        }

    .sidenav .closebtn {
        position: absolute;
        /*top: 40px;*/
        right: 5px;
        font-size: 24px;
        margin-left: 50px;
    }



