@using ExamTesting.Models

@{
    ViewData["Title"] = "Topics";
}



<div class="p-5 bg-light rounded" id="tree-list-topic">

    <h2 class="pb-4 text-center font-weight-light">Topics List</h2>

    @(Html.DevExtreme().TreeList<ExamTesting.Models.Topic>()
            .DataSource(d => d.Mvc()
            .Controller("Topics")
            .LoadAction("Get")
            .UpdateAction("Put")
            .InsertAction("Post")
            .DeleteAction("Delete")
            .Area("Admin")
            .Key("TopicId")
        )

        .KeyExpr("TopicId")
        .ParentIdExpr("ParentId")
        .ColumnAutoWidth(true)
        .WordWrapEnabled(true)
        .ShowBorders(true)


        .Editing(editing =>
        {
            editing.Mode(GridEditMode.Form);
            editing.AllowAdding(true);
            editing.AllowUpdating(true);
            editing.AllowDeleting(true);
        })

            .FilterRow(filterRow => filterRow
            .Visible(true)
            .ApplyFilter(GridApplyFilterMode.Auto)
        )

        .SearchPanel(searchPanel => searchPanel
            .Visible(true)
            .Width(240)
            .Placeholder("Search...")
        )

        .HeaderFilter(headerFilter => headerFilter.Visible(true))




        .Columns(columns =>
        {
            columns.AddFor(m => m.TopicName).Caption("Topic Name");


            columns.AddFor(m => m.ParentId).Caption("Head").Visible(false)

                .Lookup(lookup => lookup
                .DataSource(d => d.Mvc().Controller("Topics").LoadAction("Get").Key("TopicId"))
                .DisplayExpr("TopicName")
                .ValueExpr("TopicId"))

                .FormItem(i => i
                .Editor(e => e.SelectBox()
                .DataSource(d => d.Mvc().Controller("Topics").LoadAction("Get").Key("TopicId"))
                .DisplayExpr("TopicName")
                .ValueExpr("TopicId"))
                );

        })
        .ShowBorders(true)
        .OnInitNewRow("treeList_onInitNewRow")
        .AutoExpandAll(true)
               
    )



</div>


<script>
    function treeList_onInitNewRow(x) {
        if (x.data.ParentId == "") {
            x.data.ParentId = null;
        }
        
    }
</script>