@using ExamTesting.Models

@{
    ViewData["Title"] = "Exams";
}

<h2 class="pb-4 text-center font-weight-light">Exams List</h2>


<div class="card p-5 shadow p-3 bg-white rounded" id="questions-grid">

    @(Html.DevExtreme().DataGrid<ExamTesting.Models.Exam>().DataSource(d => d.Mvc()
        .Controller("Exams")
        .LoadAction("Get")
        .UpdateAction("Put")
        .InsertAction("Post")
        .DeleteAction("Delete")
        .Area("Admin")
        .Key("ExamCodeId"))


     .ID("gridContainer")



     .Editing(editing =>
     {
         editing.Mode(GridEditMode.Form);
         editing.AllowAdding(true);
         editing.AllowDeleting(true);
         editing.AllowUpdating(true);

     })
     .FilterRow(filterRow => filterRow
        .Visible(true)
        .ApplyFilter(GridApplyFilterMode.Auto)
    )
    .SearchPanel(searchPanel => searchPanel
        .Visible(true)
        .Width(240)
        .Placeholder("Search...")
    )
    .HeaderFilter(headerFilter => headerFilter.Visible(true))
    .Columns(columns =>
    {
        columns.AddFor(m => m.ExamName).Caption("Exam Name")
            .CellTemplate
            (@<text>
                <a  href ="/Admin/Exam/Index/<%= data.ExamCodeId %>"><%= data.ExamName %></a> 
            </text>);

    

        columns.AddFor(m => m.SubjectId).Caption("Subject Name")
        .Lookup(lookup => lookup.DataSource(d => d.Mvc().Controller("Exams").LoadAction("GetSubjects").Key("SubjectId"))
            .DisplayExpr("SubjectName")
            .ValueExpr("SubjectId"))
                .FormItem(i => i
                    .Editor(e => e.SelectBox()
                        .DataSource(d => d.Mvc().Controller("Exams").LoadAction("GetSubjects").Key("SubjectId"))
                            .DisplayExpr("SubjectName")
                            .ValueExpr("SubjectId")));

        columns.AddFor(m => m.StartDate)
            .Caption("Start Date")
            .Alignment(HorizontalAlignment.Center);

        columns.AddFor(m => m.EndDate)
            .Caption("End Date")
            .Alignment(HorizontalAlignment.Center);

        columns.AddFor(m => m.ExamVersion)
            .Caption("Version")
            .Alignment(HorizontalAlignment.Center);

    })

    .ShowBorders(true)
    )

    <p class="text-danger pt-3">
        <i>/*Click any exam to assign question</i>
    </p>

</div>