@using ExamTesting.Models

@{
    ViewData["Title"] = "Exam";
}


<div id="form-container" class="row">

    <div class="col">

        <div class="card p-5 shadow mb-3 bg-white rounded col">

            @(Html.DevExtreme().Form()
                .ID("form-point")
                .ColCount(1)
                .Items(items =>
                {
                    items.AddGroup()
                        .Caption("Assign Questions Exam");

                })
            )
            <partial name="Questions" />

        </div>

        <div class="text-left col">
            @(Html.DevExtreme().Button()
                .Type(ButtonType.Back).Icon("back").OnClick("Back")
            )
        </div>
        <div class="col-2"></div>
    </div>
</div>


<script>
    function Back() {
        window.location.href = "@Url.Action("Index","Questions")";
    }
</script>
