@using ExamTesting.Models

@{
    ViewData["Title"] = "Exam";
}


<div id="form-container" class="row">

    <div class="col">

        <div class="p-5 bg-light rounded col">

            @(Html.DevExtreme().Form()
                .ID("form-point")
                .ColCount(1)
                .Items(items =>
                {
                    items.AddGroup()
                        .Caption("Assign Questions Exam");

                })
            )
            <partial name="Questions" />

        </div>


        <div class="col-2"></div>
    </div>
</div>


<script>
    function Back() {
        window.location.href = "@Url.Action("Index","Questions")";
    }
</script>
