@using ExamTesting.Models

@{
    ViewData["Title"] = "Exam";
}


<div id="form-container" class="row">
    <div class="col-2">
        <partial name="_Navbar" />
    </div>
    <div class="col">
        <h2 class="pb-4 text-center font-weight-light">Exam</h2>
        <partial name="Questions" />
    </div>
    <div class="col-2"></div>
</div>


