@using ExamTesting.Models

@{
    ViewData["Title"] = "Exam";
}

<partial name="_ExamHeader" />
<div id="form-container" class="row">
    <div class="col">
        <div class="p-4 bg-light rounded col">

            @(Html.DevExtreme().Form()
                .ID("form-point")
                .ColCount(1)
                .Items(items =>
                {
                    items.AddGroup()
                        .Caption("Assign Questions Exam");

                })
            )
            <partial name="_AssignableQuestions" />

        </div>
    </div>

</div>

