@using ExamTesting.Models
@model ExamTesting.Models.Exam

@{
    ViewData["Title"] = "Exam";
}


<partial name="_ExamHeader" />

<div id="form-container" class="col row">

    <div class="p-3 col-12 bg-light">

        @foreach (var eq in Model.QuestionsExams)
        {
        <a asp-action="Index" asp-controller="Question" asp-route-id="@eq.QuestionId">
            <span>&#9900; @eq.Question.QuestionStr (@eq.Question.QuestionExams.Count)</span><br />
        </a>
        }

    <h5>
        <a asp-action="AssignQuestions" asp-route-id="@Model.ExamCodeId">Assign Questions</a>
    </h5>

    </div>
    
</div>

