@{
    Layout = "~/Views/Shared/_LayoutUnAuthen.cshtml";
}


<div class="col"></div>

<form method="post">

    <div class="col">
        <div class="card p-4 text-center">
            <div class="card-body">
                <div class="text-center">
                    <img style="width:50%;" src="~/images/logo.png" />
                </div>

                <div class="p-4">

                    <h4 class="font-weight-light pb-4">Sign In</h4>

                    @using (Html.BeginForm())
                    {
                        using (Html.DevExtreme().ValidationGroup())
                        {

                            @Html.AntiForgeryToken()

                            @(Html.DevExtreme().Form<ExamTesting.FrontEnd.Areas.Authen.Models.LoginViewModel>()
                            .ColCount(1)
                            .ShowColonAfterLabel(true)
                            .Items(item =>
                            {
                                item.AddSimpleFor(m => m.Email)
                                .Editor(e => e.TextBox());

                                item.AddSimpleFor(m => m.Password)
                                .Editor(e => e.TextBox());

                                item.AddButton()
                                    .ButtonOptions(b => b.Text("Login")
                                        .Type(ButtonType.Normal)
                                        .UseSubmitBehavior(true)
                                    )
                                    .HorizontalAlignment(HorizontalAlignment.Center);
                            })

                            )
                        }
                    }



                </div>
                
                @*<button type="submit" class="btn btn-outline-primary">Login</button>*@
                
                <a style="font-size:14px;" href="/Authen/Register">Register</a>

            </div>
        </div>

    </div>
</form>


<div class="col"></div>



