@{
    ViewData["Title"] = "Home";
}

<div>
    <img src="~/images/1st-page.png" class="img-fluid" alt="1st page image">
</div>

<div class="page-wrapper toggled page-content container-fluid">
    <div class="card-deck justify-content-center" style="padding-top:50px;">

        <div class="card text-white mb-3" style="max-width: 15rem; background-color:mediumorchid">
            <div class="card-header"><h5 class="card-title text-right">Subject</h5></div>
            <ul class="list-group list-group-flush" style="color:#000000">
                <li class="list-group-item">+ Subjects List</li>
                <li class="list-group-item">+ New Subject</li>
            </ul>
        </div>

        <div class="card text-white mb-3" style="max-width: 15rem; background-color:blueviolet">
            <div class="card-header"><h5 class="card-title text-right">Exam</h5></div>
            <ul class="list-group list-group-flush" style="color:#000000">
                <li class="list-group-item">+ Exams List</li>
                <li class="list-group-item">+ New Exam</li>
            </ul>
        </div>

        <div class="card text-white mb-3" style="max-width: 15rem; background-color:slateblue">
            <div class="card-header"><h5 class="card-title text-right">Topic</h5></div>
            <ul class="list-group list-group-flush" style="color:#000000">
                <li class="list-group-item">+ Topics List</li>
                <li class="list-group-item">+ New Topic</li>
            </ul>
        </div>

        <div class="card text-white mb-3" style="max-width: 15rem; background-color:tomato">

            <div class="card-header"><h5 class="card-title text-right">Question</h5></div>
            <ul class="list-group list-group-flush" style="color:#000000">
                <li class="list-group-item">+ Questions List</li>
                <li class="list-group-item">+ New Question</li>
            </ul>
        </div>

        <div class="card text-white mb-3" style="max-width: 15rem; background-color:#f7d926">

            <div class="card-header"><h5 class="card-title text-right">User</h5></div>
            <ul class="list-group list-group-flush" style="color:#000000">
                <li class="list-group-item">+ Users List</li>
                <li class="list-group-item">+ New User</li>
            </ul>
        </div>

    </div>

</div>

