@{
    ViewData["Title"] = "First Page";
}

<div>
    <img src="~/images/1st.png" class="img-fluid" alt="1st page image">
</div>

    <div class="card-deck justify-content-center" style="padding-top:50px;">

        <div class="card text-white mb-3" style="max-width: 15rem; background-color:orchid">
            <div class="card-header"><h5 class="card-title text-right">Subject</h5></div>
            <ul class="list-group list-group-flush" style="color:#000000">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>

        <div class="card text-white mb-3" style="max-width: 15rem; background-color:blueviolet">
            <div class="card-header"><h5 class="card-title text-right">Topic</h5></div>
            <ul class="list-group list-group-flush" style="color:#000000">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>

        <div class="card text-white mb-3" style="max-width: 15rem; background-color:#f7d926">
            <div class="card-header"><h5 class="card-title text-right">Question</h5></div>
            <ul class="list-group list-group-flush" style="color:#000000">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
        
        <div class="card text-white mb-3" style="max-width: 15rem; background-color:coral">
            <div class="card-header"><h5 class="card-title text-right">User</h5></div>
            <ul class="list-group list-group-flush" style="color:#000000">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
