

<div class="row">

    <div class="col text-right">
        <i class="fas fa-user-circle"></i> <b>@User.Identity.Name</b>
    </div>

    <div class="col-4">
        <a class="logout" href="/Authen/SignIn/SignOut">Logout</a>
    </div>
</div>


