

<div class="row">

    <div class="col text-right">
        @User.Identity.Name
    </div>

    <div class="col-4">
        <a class="logout" href="/Authen/SignIn/SignOut">Logout</a>
    </div>
</div>


