<div class="p-2 mb-3">
    <div class="row bg-light p-2">
        <div class="col-2">
            <a class="" href="@Url.Action("Index","Home")">TEST EVALUATION</a>
        </div>

        <div id="" class=" col">

        </div>

        <div id="" class="text-center col-2">

            <a class="" asp-controller="#" asp-action="#">Login</a> |


            <a class="" asp-controller="#" asp-action="#">Logout</a>

        </div>
    </div>
</div>
