<!DOCTYPE html>

<html>
<head>

    <title>Test Evaluation</title>
    
    <partial name="_ScriptPartial">
                   
</head>

<body>
    <main role="main" class="container mb-5">

        @*<div class="px-2">
            <partial name="_HeadNavbar">
        </div>*@

        <div class="row py-5">         
                @RenderBody()           
        </div>

        <hr />
        <footer>
            <p>&copy; 2019 - Testing Evaluation</p>
        </footer>

    </main>
</body>

</html>