<nav class="navbar navbar-light bg-white fixed-top navbar-expand-md row">

    <div id="navbar" class="collapse navbar-collapse col-2">
        @*<span class="ml-4" style="font-size:22px; cursor:pointer" onclick="openNav()">&#9776;</span>*@
        <a class="navbar-brand mr-auto ml-4" href="@Url.Action("Index","Home")">TEST EVALUATION</a>
    </div>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="sidenav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse col">
        <ul class="navbar-nav mr-auto ml-auto bg-transparent" style="width:900px;">

      @*<li class="nav-item pr-2 pl-2 border-right">
            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
        </li>

        <li class="nav-item pr-2 pl-2 border-left">
            <a class="nav-link" asp-controller="Topics" asp-action="Index">Topics</a>
        </li>

        <li class="nav-item pr-2 pl-2">
            <a class="nav-link" asp-controller="Questions" asp-action="Index">Questions</a>
        </li>

        <li class="nav-item pr-2 pl-2 border-left">
            <a class="nav-link" asp-controller="Subjects" asp-action="Index">Subjects</a>
        </li>

        <li class="nav-item pr-2 pl-2">
            <a class="nav-link" asp-controller="Exams" asp-action="Index">Exams</a>
        </li>

        <li class="nav-item pr-2 pl-2 border-left">
            <a class="nav-link" asp-controller="List" asp-action="Index">Users</a>
        </li>

        <li class="nav-item pr-2 pl-2">
            <a class="nav-link" asp-controller="List" asp-action="Index">Reports</a>
        </li>*@
        </ul>
    </div>

    <div id="navbar" class="collapse navbar-collapse text-center col-2">
        <ul class="navbar-nav mr-auto ml-auto bg-transparent">
            <li class="nav-item pr-2 pl-2">
                <a class="nav-link" asp-controller="#" asp-action="#">Login</a>
            </li>
            <li class="nav-item pr-2 pl-2">
                <a class="nav-link" asp-controller="#" asp-action="#">Logout</a>
            </li>
        </ul>
    </div>
</nav>



@*<div id="mySidenav" class="sidenav">
    
    <div class="pt-4">
        <a class="nav-link" asp-controller="Home" asp-action="Index"><i class="fas fa-home pr-3"></i>Home</a>

        <a class="nav-link" asp-controller="Topics" asp-action="Index"><i class="fas fa-puzzle-piece pr-3"></i>Topics</a>

        <a class="nav-link" asp-controller="Questions" asp-action="Index"><i class="far fa-question-circle pr-3"></i>Questions</a>

        <a class="nav-link" asp-controller="Subjects" asp-action="Index"><i class="fas fa-book pr-3"></i>Subjects</a>

        <a class="nav-link" asp-controller="Exams" asp-action="Index"><i class="far fa-edit pr-3"></i>Exams</a>

        <a class="nav-link" asp-controller="List" asp-action="Index"><i class="fas fa-user-friends pr-3"></i>Users</a>

        <a class="nav-link" asp-controller="List" asp-action="Index"><i class="far fa-copy pr-3"></i>Reports</a>
    </div>
    
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&lt;&lt;</a>
</div>*@

<div id="mySidenav" class="sidenav">

    <div class="pt-4">
        <a class="nav-link" asp-controller="Home" asp-action="Index">
            <img src="~/logo/home-solid.svg" width="40" height="20" class="pr-3" />Home
        </a>

        <a class="nav-link" asp-controller="Topics" asp-action="Index">
            <img src="~/logo/puzzle-piece-solid.svg" width="40" height="20" class="pr-3" />Topics
        </a>

        <a class="nav-link" asp-controller="Questions" asp-action="Index">
            <img src="~/logo/question-circle-regular.svg" width="40" height="20" class="pr-3" />Questions
        </a>

        <a class="nav-link" asp-controller="Subjects" asp-action="Index">
            <img src="~/logo/book-solid.svg" width="40" height="20" class="pr-3" />Subjects
        </a>

        <a class="nav-link" asp-controller="Exams" asp-action="Index">
            <img src="~/logo/edit-regular.svg" width="40" height="20" class="pr-3" />Exams
        </a>

        <a class="nav-link" asp-controller="Users" asp-action="Index">
            <img src="~/logo/user-friends-solid.svg" width="40" height="20" class="pr-3" />Users
        </a>

        <a class="nav-link" asp-controller="Reports" asp-action="Index">
            <img src="~/logo/copy-regular.svg" width="40" height="20" class="pr-3" />Reports
        </a>
    </div>

</div>


<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "180px";

    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>