
<nav class="navbar navbar-light bg-transparent fixed-top navbar-expand-md">
    <a class="navbar-brand" href="http://localhost:54627/"></a>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto ml-auto bg-transparent" style="width:1110px;">
            <li class="nav-item pr-2 pl-2 border-right"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>

            <li class="nav-item pr-2 pl-2"><a class="nav-link" asp-controller="Subject" asp-action="Index">Subjects</a></li>

            <li class="nav-item pr-2 pl-2"><a class="nav-link" asp-controller="List" asp-action="Index">Exams</a></li>

            <li class="nav-item pr-2 pl-2 border-left">
                <a class="nav-link" asp-controller="List" asp-action="Index">Topic</a>
            </li>

            <li class="nav-item pr-2 pl-2"><a class="nav-link" asp-controller="List" asp-action="Index">Questions</a></li>

            <li class="nav-item pr-2 pl-2 border-left"><a class="nav-link" asp-controller="List" asp-action="Index">Users</a></li>

            <li class="nav-item pr-2 pl-2"><a class="nav-link" asp-controller="List" asp-action="Index">Reports</a></li>
        </ul>
    </div>
</nav>
