<nav class="navbar navbar-light bg-white fixed-top navbar-expand-md row">

    <div id="navbar" class="collapse navbar-collapse col-2">
        @*<span class="ml-4" style="font-size:22px; cursor:pointer" onclick="openNav()">&#9776;</span>*@
        <a class="navbar-brand mr-auto ml-auto" href="@Url.Action("Index","Home")">TEST EVALUATION</a>
    </div>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="sidenav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse col">
        <ul class="navbar-nav mr-auto ml-auto bg-transparent" style="width:900px;">
        </ul>
    </div>

    <div id="navbar" class="collapse navbar-collapse text-center col-2">
        <ul class="navbar-nav mr-auto ml-auto bg-transparent">
            <li class="nav-item pr-2 pl-2">
                <a class="nav-link" asp-controller="#" asp-action="#">Login</a>
            </li>
            <li class="nav-item pr-2 pl-2">
                <a class="nav-link" asp-controller="#" asp-action="#">Logout</a>
            </li>
        </ul>
    </div>
</nav>
