<div id="mySidenav" class="sidenav bg-light">

    <div class="pt-2">
        <a class="nav-link" asp-controller="Home" asp-action="Index">
            <img src="~/logo/home-solid.svg" width="40" height="20" />Home
        </a>

        <div class="active">
            <a class="nav-link" asp-controller="Topics" asp-action="Index">
                <img src="~/logo/puzzle-piece-solid.svg" width="40" height="20" />Topics
            </a>
        </div>
        <a class="nav-link" asp-controller="Questions" asp-action="Index">
            <img src="~/logo/question-circle-regular.svg" width="40" height="20" />Questions
        </a>

        <a class="nav-link" asp-controller="Subjects" asp-action="Index">
            <img src="~/logo/book-solid.svg" width="40" height="20" />Subjects
        </a>

        <a class="nav-link" asp-controller="Exams" asp-action="Index">
            <img src="~/logo/edit-regular.svg" width="40" height="20" />Exams
        </a>


        <a @*class="nav-link" asp-controller="#" asp-action="#"*@>
            <img src="~/logo/user-friends-solid.svg" width="40" height="20" />Users
        </a>

        <a @*class="nav-link" asp-controller="#" asp-action="#"*@>
            <img src="~/logo/copy-regular.svg" width="40" height="20" />Reports
        </a>
    </div>

</div>




